{% extends 'base.html' %}

{% block content %}
    <h1>{{ activity.name }}</h1>
    <h3>created {{ activity.date_created }}</h3>
    <h2>Participants: {{ participants_number }}</h2>
    <ul>
    {% for participant in participants %}
        <li>{{ participant.username }}</li>
    {% endfor %}
    </ul>

    <h2>Expenses</h2>
    <h3>Total amount: {{ total_amount }}$</h3>
    <h3>Amount per person: {{ amount_per_participant }}$</h3>
    <h3><a href="{% url 'expenses:balance' activity.id %}">Balance</a></h3>
    
    <form action="{% url 'expenses:create_expense' activity.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add">
        </form>

    <ul>
    {% for expense in expenses %}
        <li><a href="{% url 'expenses:expense' expense.id %}">{{ expense.title }}</a> {{ expense.amount }}$ paid by {{ expense.payer.username }}</li>
    {% endfor %}
    </ul>
    

{% endblock %}