{% extends 'base.html' %}

{% block content %}
    Hello, {{ user.username|default:'Guest' }}!

    <div>
        {% if user.is_authenticated %}
            <form action="{% url 'expenses:create_activity' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create activity">
            </form>
            <h2>Activites: {{ activities.count }}</h2>
            {% for activity in activities %}
                <h3>
                    <a href="{% url 'expenses:activity' activity.id %}">
                        {{ activity.name }}
                    </a>
                </h3>
                <h4>participants: {{ activity.participants.count }}</h4>

            {% endfor %}


            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'expenses:register' %}">Register</a>
        {% endif %}
    </div>
    
{% endblock %}