{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Welcome, {{ user.username }}</h3>
        </div>
    </div>

    <div class="card col-md-3 bg-dark text-center text-white mt-4">
        <h3 class="card-header bg-primary mb-3">Create New Activity</h3>
        <form action="{% url 'expenses:create_activity' %}" method="post">
            {% csrf_token %} {{ form.as_p }}
            <button
                type="submit"
                class="btn btn-light mb-3 mx-3"
            >
                Create
            </button>
        </form>
    </div>

    
    <h2 class="my-3">Your Activites: {{ activities.count }}</h2> 
    <div class="container mt-3">           
        <div class="d-flex flex-wrap">
            {% for activity in activities %}
                <div class="card col-md-3 mx-3 my-2 text-center bg-dark text-white">
                    <a
                        href="{% url 'expenses:activity' activity.id %}"
                        class="text-reset text-decoration-none"
                    >
                        <h3 class="card-header bg-success">
                            {{ activity.name }}
                        </h3>
                        <p class="card-text py-3">
                            participants: {{ activity.participants.count }}
                        </p>
                    </a>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
